---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="I am the generator or bad ideas"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-2.jpg"
>
	<p>				
		I love to solve problems. Versatile and tech-savvy problem solver with a passion for learning and exploring all forms of technology. 
		Known for rapidly adapting, troubleshooting, and delivering creative solutions across hardware, software, and systems. 
		I am someone who thrives on new challenges.  and cross-disciplinary projects. 
		Eager to leverage technical expertise to deliver and a proactive approach to support a operation.
			
	</p>
	<h2>My Background</h2>
	<p>
		<!--Growing up my father was my biggest influences. He grew up -->
	</p>
	<h2></h2>
	<p>

	</p>

	<p>

	</p>
</Layout>
