---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to FenLabs!</h1>
			<p>
				Here we build
			</p>
			<h2>About Me<h2>
			<p>
				I am someone who loves to find ways to learn. I found the best way I learn is to give myself a chalange.
			</p>
			<h2>Featured Posts</h2>
			<ul>
				<li><a href="https://blog.fenlabs.net/perfect-nas" Building My Perfect Home NAS</a></li>
			</ul>
			<p>
			
			</p>
			<p>

			</p>
		</main>
		<Footer />
	</body>
</html>
