---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello There!</h1>
			<p>
				Welcome to FenLab's blog! This blog covers a veriety of topics from server automation, IOT devices,
				to 3D printing! Here I write blogs on what				
			</p>
			<h2>About Me<h2>
			<p>
				I am someone who loves to find ways to learn. I found the best way I learn is to give myself a chalange.
			</p>
			<h2>Featured Posts</h2>
			<ul>
				<li><a href="https://blog.fenlabs.net/perfect-nas" Bulding My Perfect Home NAS</a></li>
				<li>Edit the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code>src/content/blog/</code></li>
				<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
			</ul>
			<p>
			
			</p>
			<p>

			</p>
		</main>
		<Footer />
	</body>
</html>
