---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to FenLabs!</h1>
			<p>
				As someone who loves to learn 
				I found the best way I myself learn is to give myself a challenges or projects. Those projects are documented here.
			</p>
			<h2>Featured Posts</h2>
			<ul>
				<li><a href="https://blog.fenlabs.net/perfect-nas" Building My Perfect Home NAS</a></li>
				<li><a href="https://blog.fenlabs.net/datto-s4" </a>Repurposing a Datto S4 NAS <i>Coming Soon!</i></li>
				<li><a href="https://blog.fenlabs.net/datto-s4" </a>Repurposing a Datto S4 NAS</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
